<div class="card">
  <h2>About</h2>

  <p>YPO-IDE is a Web IDE</p>

  <p>YPO is a new way to write your code</p>

  <p>in this website you can see how many users and every user's projects.</p>

  <p>
    logging in to the website needs a username and password having a username
    and password is by signing up for the website signing up needs an
    email,phone number and image users can update information :change/add/remove
  </p>

  <p>
    the website can show how many teachers and students every user can be a
    student,teacher or both of them and every user can add /edit his/her own
    projects,content or adding
  </p>
</div>
