<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="form.css">
  <title>Sign-in</title>
</head>

<body>
  <form>
    <ul>
      <li>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="Enter name" required>
      </li>
      <li>
        <label for="name">Password:</label><br>
        <input type="password" id="pass" name="password" minlength="8" required>
      </li>
      <li>
        <input type="submit" value="Sign in">
      </li>
    </ul>
  </form>
</body>

</html>