<form>
  <ul>
    <li>
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" value="Enter name" required />
    </li>
    <li>
      <label for="about">About:</label><br />
      <textarea name="name" rows="10" cols="50">About you...</textarea>
    </li>
    <li>
      <label for="image">Image:</label><br />
      <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/png, image/jpeg"
      />
    </li>
    <li>
      <label for="email">Email:</label><br />
      <input type="email" id="email" size="30" required />
    </li>
    <li>
      <label for="phone">Phone:</label><br />
      <input type="tel" id="phone" name="phone" required />
    </li>
    <li>
      <label for="password">Password:</label><br />
      <input type="password" id="pass" name="password" minlength="8" required />
    </li>
    <li>
      <label for="confirmpassword">Confirm Password:</label><br />
      <input
        type="password"
        id="pass"
        name="confirmpassword"
        minlength="8"
        required
      />
    </li>
    <li>
      <input type="submit" value="update-user" />
    </li>
  </ul>
</form>
