nav {
  position: absolute;

  top: 4em;
  left: 0;

  height: calc(100vh - 8em);
  width: 16em;
  max-width: 100vw;

  z-index: 2;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 0.5em 1em;

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: flex-start;

  gap: 0.5em;

  background-color: #aaa;

  transition-property: width opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

nav.hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
}
