header {
  height: 4em;
  min-height: 4em;
  width: 100vw;

  background-color: #aaa;

  margin: 0;
  padding: 0.5em;

  overflow: hidden;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: center;

  gap: 0.5em;
}

.logo {
  display: flex;

  margin: 0;
  padding: 0;

  overflow: hidden;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: center;

  gap: 0.5em;
}

.properties {
  flex-grow: 1;

  display: flex;

  margin: 0;
  padding: 0;

  overflow: hidden;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-end;

  align-items: center;

  gap: 0.5em;
}

.user-menu-button {
  border-radius: 50%;
}

.search {
  height: 3em;
  border-radius: 1.5em;
  background-color: #fff;
}

.search {
  padding: 0 12px;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: center;

  gap: 12px;
}

input[type="image"] {
  width: 24px;
  height: 24px;
}

input[type="search"] {
  height: 100%;
  border-width: 0;
  padding: 0;
  background-color: transparent;
}

.menu-button,
.user-menu-button {
  cursor: pointer;
}
